body {
    background-color: #fac4d9;
    color: rgb(0, 0, 0);
    font-family: "Platypi", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #ff00d4;
    color:rgb(245, 245, 245);
    font-family: "Platypi", serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}
